<h1>Landing#index</h1>
<p>Find me in app/views/landing/index.html.erb</p>

<h2> Latitude Longitude </h2>

  <table>
    <tbody id="table-body">
    </tbody>
  </table>


<%= link_to "Update", root_path %>
